<?xml version="1.0" encoding="utf-8"?>
<manifest package="ru.opennet.nix.opennetmvp"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_opennet"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_opennet_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".OpenNetApp">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ArticleActivity"
            android:theme="@style/Theme.Swipe.Back.NoActionBar">
        </activity>
        <activity android:name=".CommentsActivity"
            android:theme="@style/Theme.Swipe.Back.NoActionBar">
        </activity>
        <service android:name=".OpenNetService"/>
    </application>

</manifest>